{% extends 'music/base.html' %}
<!--To overwrite title of the page-->
{% block title %}Album Details{% endblock %}

{% block body %}

    <img src="{{ album.album_logo }}">

    <h1>{{ album.album_title }}</h1>
    <h3>{{ album.atist }}</h3>


    {% if error_message %}
        <p><stong>{{ error_message }}</stong></p>
    {% endif %}

    <from action ="{% url 'music:favourite' album.id %}" method = "post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
            <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}" />
            <label for="song{{ forloop.counter }}">
                {{ song.song_title }}
                {% if song.is_favouite %}
                    <img src="http://i.imgur.com/b9b13Rd.png">
                {% endif %}
            </label><br>
        {% endfor %}
        <input type="submit" value="Favourite">
    </from>

{% endblock %}